<ion-view>
  <div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>
    <h1 class="title">设置</h1>
    <!--<a class="button button-icon icon ion-navicon"></a>-->
  </div>
  <ion-content class="has-header contain">
    <article>
      <section class="personage-col-2 top" ui-sref="app.setPhone">
        <span>手机号</span>
        <p style="text-align: right">182***</p>
        <div>
          <a class="button button-icon icon ion-ios-arrow-right" style="margin-top: -2px"></a>
        </div>
      </section>
      <section class="personage-col-2 top" ui-sref="app.setPWD">
        <span>密码</span>
        <p style="text-align: right">182***</p>
        <div>
          <a class="button button-icon icon ion-ios-arrow-right" style="margin-top: -2px"></a>
        </div>
      </section>
      <section class="personage-col-2 top" ng-click="logout()">
        <p style="text-align: center;color:#F50208">退出登录</p>
      </section>
    </article>
  </ion-content>
</ion-view>
