<ion-view>
  <div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>
    <h1 class="title">课程详情</h1>
    <!--<a href="#/app/banner" class="button button-icon icon ion-person"></a>-->
  </div>
  <ion-content class="has-header has-tabs" style="background-color: #FAFAFA;">
    <div class="item">
      <div class="home-col-1">
        <h3>{{courseInfoEntry.courseInfo.name}}</h3>
      </div>
      <div class="home-col-2">
        <span>{{courseInfoEntry.courseInfo.industryName}}/{{courseInfoEntry.courseInfo.fieldName}}/{{courseInfoEntry.courseInfo.stageName}}</span>
      </div>
      <div class="text-section">
        {{courseInfoEntry.courseInfo.details}}
      </div>
      <div class="home-col-5">
        <div>
          <span class="icon ion-android-time my-icon"></span>{{courseInfoEntry.courseInfo.formatSchoolTime}}
        </div>
        <div>
          <span class="icon ion-ios-heart"></span>
          <span>{{courseInfoEntry.courseInfo.praiseAmount}}</span>
          <span class="icon ion-ios-person left"></span>
          <span>{{courseInfoEntry.courseInfo.enterAmount}}</span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="home-col-4">
        <img ng-show="{{courseInfoEntry.userInfo.userPhoto != ''}}" ng-src="http://139.196.23.131:7070/ddcb{{courseInfoEntry.userInfo.userPhoto}}"/>
        <img ng-show="{{courseInfoEntry.userInfo.userPhoto == ''}}" ng-src="img/person.png"/>
        <span class="mid">{{courseInfoEntry.userInfo.nickName}}</span>
        <span class="small">{{courseInfoEntry.userInfo.companyName}}丨{{courseInfoEntry.userInfo.companyPosition}}</span>
      </div>
      <div class="text-section">
        {{courseInfoEntry.userInfo.resume}}
      </div>

    </div>
  </ion-content>
  <div class="bar bar-footer" ng-show="{{!hasLogin || courseInfoEntry.courseInfo.isEnter == '' || courseInfoEntry.courseInfo.isEnter == null || !courseInfoEntry.courseInfo.isEnter}}" ng-click="enterCourse({{courseInfoEntry.courseInfo.id}})">
    <div class="button button-positive" style="width: 100%">
      报名
    </div>
  </div>
  <div class="bar bar-footer" ng-show="{{hasLogin && courseInfoEntry.courseInfo.isEnter != '' && courseInfoEntry.courseInfo.isEnter != null && courseInfoEntry.courseInfo.isEnter}}">
    <div class="button button-positive disabled" style="width: 100%">
      已报名
    </div>
  </div>
</ion-view>
