<ion-view>
  <div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>
    <h1 class="title">发现</h1>
  </div>
  <ion-content class="has-header has-tabs" style="background-color: #EBEBEB;">
    <div class="home-title" style="background-color: white;font-size:15px;">
      <span >行业大类</span>
      <span class="active">行业细分</span>
    </div>
    <div style="height:15px;width:100%;"></div>
    <div ng-repeat="(key, val) in selectedCategoryInfo">
    <div style="background-color: white;">
      <div style="margin: auto;width: 100%;padding-left:10px;padding-top:10px;padding-bottom:10px;">
      	<div style="margin-bottom: 5px;">
      		<p style="font-size:10px;">{{allIndustry[key - 1].name}}</p>
      	</div>
      	<hr/>
        <div class="industry-col" ng-repeat="field in allField[key]" ng-click="openModal(key, {{field.id}})">
          <img ng-src="{{field.icon}}"/>
          <div class="choose-detail" ng-show="selectedStageInfo[field.id].name.length">
                <p style="">{{field.name}}</p>
                <li ng-repeat="name in selectedStageInfo[field.id].name">{{name}}</li>
          </div>
        </div>
      </div>
    </div>
    <div style="height:15px;width:100%;"></div>
    </div>
    <div style="width:100%;background-color: white;margin-bottom:30px;" ng-click="searchCourse()">
      <p style="padding-top:15px;padding-bottom:15px;text-align: center;color:#548DFE">确认</p>
    </div>
  </ion-content>
</ion-view>
<script id="find-detail.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title" style="text-align: center;">课程方向</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-checkbox ng-repeat="(key, val) in stageInfo"
                      ng-model="val.checked"
                      ng-checked="val.checked">
          {{ val.text }}
        </ion-checkbox>
        <div style="width:100%;margin-bottom:30px;">
      		<p style="padding-top:15px;padding-bottom:15px;padding-left:15px;font-size:10px;color:#7A7A7A">提示：此处为多选项，最多可选三个。</p>
    		</div>
        <button class="button button-full button-positive" ng-click="selectStage()">确定</button>
      	<button class="button button-full button-positive" ng-click="closeModal()">取消</button>
      </div>
    </ion-content>
  </div>
</script>