<ion-view>
  <div class="bar bar-header bar-positive">
    <!--<a class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>-->
    <h1 class="title">发现</h1>
    <!--<a class="button button-icon icon ion-navicon"></a>-->
  </div>
  <ion-content class="has-header has-tabs">
    <div class="home-title">
      <span class="active">行业大类</span>
      <span ui-sref="app.findField">行业细分</span>
    </div>
    <div class="top">
      <div style="margin: auto;width: 320px;">
        <div class="industry-col" ng-repeat="industry in industryImg" ng-click="clickIndustry({{$index}})">
          <img ng-src="{{industry.icon}}"/>
          <div class="choose" ng-if="industryImg[$index].selected">
            <i class="button-icon icon ion-checkmark-round"></i>
          </div>
        </div>
      </div>
    </div>
    <section class="personage-col-2 top" ng-click="nextPage()">
      <p style="text-align: center;color:#F50208">下一页</p>
    </section>
  </ion-content>
</ion-view>
