<ion-view>
  <div class="bar bar-header bar-positive">
    <!--<a class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>-->
    <h1 class="title">发现</h1>
    <!--<a class="button button-icon icon ion-navicon"></a>-->
  </div>
  <ion-content class="has-header has-tabs" style="background-color: #EBEBEB;">
    <div class="home-title" style="background-color: white;font-size:15px;">
      <span class="active">行业大类</span>
      <span >行业细分</span>
    </div>
    <div style="height:15px;width:100%;"></div>
    <div style="background-color: white;">
      <div style="margin: auto;width: 100%;padding-left:10px;padding-top:10px;padding-bottom:10px;">
        <div class="industry-col" ng-repeat="industry in allIndustry" ng-click="clickIndustry({{$index}})">
          <img ng-src="{{industry.icon}}"/>
          <div class="choose" ng-if="allIndustry[$index].selected">
            <i class="button-icon icon ion-checkmark-round"></i>
          </div>
        </div>
      </div>
    </div>
    <div style="height:15px;width:100%;background-color:#EBEBEB ;"></div>
    <div style="width:100%;background-color: white;margin-bottom:30px;" ng-click="nextPage()">
      <p style="padding-top:15px;padding-bottom:15px;text-align: center;color:#548DFE">下一步</p>
    </div>
  </ion-content>
</ion-view>
