<ion-view>
	<ion-content>
  <ion-slide-box on-slide-changed="slideHasChanged(index)" show-pager="false">
    <ion-slide>
      <img style="max-width: 100%;" src="img/tu1.jpg"></img>
    </ion-slide>
    <ion-slide>
    	<img style="max-width: 100%;" src="img/tu2.jpg"></img>
      <!--<div style="text-align: center;background-image:url(img/tu2.jpg);height:100%;width:100%;">
      	
      	<div style="z-index: 999999;margin-top:50%;">
      	<a style="width:150px;" class="button button-stable btn-start" ng-click="gotoMain()">立即体验</a>
      	</div>
      </div>-->
    </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>