<ion-view>
  <div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>
    <h1 class="title">设置手机号</h1>
    <!--<a class="button button-icon icon ion-navicon"></a>-->
  </div>
  <ion-content class="has-header contain">
    <article>
      <section class="personage-col-2 top">
        <span>手机号</span>
        <p style="text-align: right">{{userComm.userId}}</p>
      </section>
      <section class="personage-col-2 top">
        <input type="text" ng-model="phoneSetData.userId" placeholder="请输入新手机号"/>
      </section>
      <section class="personage-col-2 top">
        <input type="text" ng-model="phoneSetData.userVerifyCode" placeholder="请输入验证码"/>
        <div class="getCode" ng-click="getUpCode()">
          <span>获取验证码</span>
          <a class="button button-icon icon ion-ios-arrow-right" style="margin-top: -7px"></a>
        </div>
      </section>
      <section class="personage-col-2 top">
        <p style="text-align: center;color:#F50208" ng-click="upPhone()">确认修改</p>
      </section>
    </article>
  </ion-content>
</ion-view>
